<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        {% set frankenphpHotReload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}
        {% if frankenphpHotReload %}
        <meta name="frankenphp-hot-reload:url" content="{{ frankenphpHotReload }}">
        <script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>
        <script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>
        {% endif %}
    </head>
    <body>
        {% include '_partials/header.html.twig' %}

        {# Bandeau mode vacances visible sur toutes les pages, en mode panic n'afichera pas#}
        {% if app.user and app.user.isPaused and not app.session.get('panic_mode') %}
            <div class="alert alert-warning text-center mb-0">
                Mode vacances activé jusqu'au {{ app.user.pauseUntil|date('d/m/Y') }}                
            </div>
        {% endif %}

        <main class="container">
            {% include '_partials/flashes.html.twig' %}
            {% block body %}{% endblock %}
        </main>

        {% include '_partials/footer.html.twig' %}
    </body>
</html>
